.container {
  text-align: left;
  margin-left: 86px;
}

.logo {
  display: flex;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 50px;
  color: #000000;
}

.title {
  font-weight: 500;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 22px;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 6px;
}

.subtitle:last-of-type {
  margin-bottom: 52px;
}

.toLink {
  font-weight: 600;
  text-decoration: none;
}
